* {
	font-family: 'roboto', sans-serif;

	user-select: none;
	-webkit-user-select: none;
}
#cash_text {
	margin-top: 20px;
	color: rgb(200,200,200);
	font-size: 20px;
	font-weight: bold;
}

#value_text {
	position: absolute;
	margin-top: 20px;
	margin-left: 10px;
	color: rgb(200,200,200);
	font-size: 15px;
}

#menu {
	display: flex;
	flex-direction: column;
	gap: 0px;
	width: 300px;
	height: 100vh;
	background-color: rgb(100,100,100);
	overflow-y: scroll;
}

#content {
	display: flex;
	position: fixed;
	gap: 0px;
	width: 100%;
	height: 100%;

	color: rgb(200,200,200);

	user-select: none;
}


#nav::-webkit-scrollbar-thumb {
	background-color: rgb(30, 30, 30);
}
#nav::-webkit-scrollbar {
    width: 7px;
}

html {
	background-color: rgb(40,40,40);
	margin-left: -10px;
	margin-top: -10px;
}

button {
	position: relative;
	font-weight: bold;
	width: 75px;
	height: 40px;
	background-color: rgb(55,55,55);
	border: solid;
	border-radius: 2px;
	border-color: rgb(100,100,100);
	color: rgb(200,200,200);
	font-size: 12px;
	transition: .1s;
	z-index: 100;
	pointer-events: auto;

	user-select: none;
}

button:hover {
	background-color: rgb(45,45,45);
	border-color: rgb(150,150,150);
	color: rgb(240,240,240);
}

button:active {

	background-color: rgb(30,30,30);
	border-color: rgb(150, 220, 230);
	color: rgb(150,220,230);
}


#nav {
	position: fixed;
	display: flex;
	flex-direction: column;
	align-items: center;
	top: 220px;
	height: calc(100vh - 220px);
	gap: 0px;
	width: 280px;
	flex-shrink: 0;
	overflow-y: scroll;
	margin-left: 10px;

}
.nav-button {
	position: relative;
	background-color: rgb(100,100,100);
	color: rgb(200,200,200);
	font-size: 20px;
	border-width: 0px;
	border-style: solid;
	width: calc(100% - 20px);
	height: 60px;
	transition:.1s;
	margin: 0px 0px 5px 0px;
	font-weight: bold;
	flex-shrink: 0;
}

.nav-button:hover {
	background-color: rgb(80,80,80);

}

.nav-button:active {
	background-color: rgb(70,70,70);
}

.nav-button.on {
	border-width: 3px;
	border-color: rgb(200,200,200);
}

#cpc-text {
	position: absolute;
	margin-top: 20px;
	right: 0;
	text-align: right;
	padding-right: 10px;
	color: rgb(200,200,200);
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

#score {
	position: fixed;
	width: 280px;
	height: 200px;
	margin: 10px;
	background-color: rgb(80,80,80);
}


#upgrades {
	display: flex;
	flex-direction: column;
	overflow: scroll;
}

#clicker {
	position: absolute;
	width: 100%;
	height: 100%;
	border-width: 0px;
	background: transparent;
	transition: .1s;
	pointer-events: auto;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

#clicker-text {
	width: calc(100%-20px);
	height: calc(100%-20px);
	font-size: 150px;
	color: rgb(200,200,200);
	font-weight: bold;
	pointer-events: none;
	transition: 0.1s;
	transform: scale(1);
	user-select: none;
}


.page {
	position: absolute;
	width: calc(100% - 300px);
	height: 100%;
	left: 300px;
	display: none;
}
.show {
	display: block !important;
}

.upgrade {
	background-color: rgb(80,80,80);
	width: 100%;
	height: 80px;
	font-size: 20px;
	margin-left: 20px;
	margin-top: 20px;
	color: rgb(200,200,200);
	flex-shrink: 0;

}

.upgrade-name {
	position: absolute;
	margin-top: 10px;
	margin-left: 10px;
	font-weight: bold;
	font-size: 20px;
	color: yellow;
}

.upgrade-desc {
	position: absolute;
	margin-top: 50px;
	margin-left: 10px;
	font-size: 15px;
	width: 80%;
}

.upgrade-button {
	position: absolute;
	margin-top: 10px;
	margin-left: calc(100% -  170px);
	font-size: 15px;
	text-align: left;
	padding-left: 20px;
	background-color: rgb(70,70,70);
	border-width: 0px;
	color: rgb(200,200,200);
	font-weight: bold;
	width: 150px;
	height: 60px;
	transition: .1s;
	z-index: 10;
}

@media (max-width: 700px) {
	.upgrade-button {
		margin-top: 90px;
		margin-left: 10px;
	}

	.upgrade {
		height: 160px;
	}
	button {
		width: 60px;
	}

	
}

@media (max-width: 480px) {
	#menu {
		width: 40px;
	}

	.nav-button {
		opacity: 0;
		width: 40px;
	}

	#score {
		opacity: 0;
		width: 40px;
	}

	.page.show {
		margin-left: 40px;
		width: calc(100% - 50px);
	}

	.upgrade-button {
		margin-left: 10px;
	}

	.upgrade {
		width: calc(100% + 250px);
	}
	.upgrade-desc {
		width: calc(100% + 330px);
	}
}

.upgrade-button:hover {
	background-color: rgb(65,65,65);
	color: rgb(240,240,240);
}

.upgrade-button:active {
	background-color: rgb(55,55,55);
	color: white;
}

.upgrade-amount {
	position: absolute;
	margin-top: 13px;
	margin-left: 100px;
	color: rgb(200,200,200);
	font-size: 15px;
}

.fadeup {
	position: absolute;
	animation: fadeup 1s;
	user-select: none;
	z-index: 900;
	color: white;
	font-weight: bold;
	opacity: 0;
	pointer-events: none;
}

@keyframes fadeup {
	0% {
	  opacity: 1;
	  margin-top: 0px;
	}
	90% {
	  opacity: 0;
	  margin-top: -100px;
	}
	100% {
	  opacity: 0;
	  margin-top: -100px;
	}
  }


  #overlay {
	z-index: 999;
  }


  #inv-items {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	margin: 20px 0px 0px 20px;
  }

  .item-inner {
	position: absolute;
	width: 100%;
	height: 200px;
	background-color: rgb(70,70,70);
	box-shadow: inset 3% 0 0 rgb(100,100,100);
  }

  .inner-image {
	position: absolute;
	width: 120px;
	height: 120px;
	margin: 20px 0px 0px 15px;
	background-color: rgb(65,65,65);
	transform: scale(1);
	transition: .1s;
	background: transparent;
	background-size: contain;
	background-repeat: no-repeat;
	object-fit: contain;
  }
  .inner-image.case, .inner-image.key {
	transform: scale(1.4);
  }
  .inner-image.case:hover,
  .inner-image.key:hover {
	transform: scale(1.5);
  }
  .inner-image:hover {
	transform: scale(1.1);
  }

  .item-title {
	position: absolute;
	width: 92%;
	height: calc(60px - 8px);
	margin-top: 140px;
	margin-left: 3%;
	padding: 8px 0% 0% 5%;
	color: rgb(200,200,200);
	background-color: rgb(55,55,55);
	font-weight: bold;
	font-size: 13px;
  }

  .item {
	position: relative;
	width: 150px;
	height: 240px;
	background: transparent;
  }

  .item-inner.exceedingly_rare {box-shadow: inset 5px 0 0 yellow}
  
  .item-inner.milspec {box-shadow: inset 5px 0 0 blue}

  .item-inner.covert {box-shadow: inset 5px 0 0 rgb(120, 30, 30)}

  .item-inner.restricted {box-shadow: inset 5px 0 0 rgb(70, 30, 70)}

  .item-inner.standard {box-shadow: inset 5px 0 0 rgb(180,180,180)}

  .item-b {
	margin-top: 205px;
	position: relative;
  }

.item-b.item-sell {
	width: 100%;
}
.item-b.case-sell {
	width: 60%;
}

.item-b.case-open {
	width: 40%;
}

.itemActions {
	display: flex;
	flex-direction: row;
}
.inv-item-wear {
	position: absolute;
	margin-left: 9%;
	margin-top: 5%;
	font-size: 20px;
	color: rgb(200,200,200);

}

#inv-prev, #inv-next, #inv-page-n {
	position: relative;
	height: 30px;
}
#inv-page-n {
	left: 0px;
	width: 30px;
	height: 28px;
	background-color: rgb(55,55,55);
	border: 1px solid rgb(180,180,180);
	border-radius: 2px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 12px;
}

#inv-buttons {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 30px;
	gap: 10px;
	margin-left: 20px;
	margin-top: 30px;
}

#shop-items {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	margin-top: 20px;
	margin-left: 20px;
	flex-shrink: 0;
	overflow-y: scroll;
	height: 100%;
}

.stattrak {
	position: absolute;
	width: 40px;
	height: 40px;
	top: 100px;
	left: 110px;
	transform: scale(1);
	background: transparent;
	background-image: url("https://raw.githubusercontent.com/waffold/csgo/main/images/Stattrak.png");
	background-size: contain;
	background-repeat: no-repeat;
}

.popup {
	position: fixed;
	width: calc(100% - 300px);
	height: 100%;
	left: 300px;
	background: rgb(40,40,40);
	display: none;
	z-index: 999;
}

/* .popup.up {
	display: block;
} */

.popup-header {
	width: calc(100%);
	height: 100px;
	text-align: center;
	padding-top: 30px;
}

.popup-close {
	position: absolute;
	left: 50px;
	top: 30px;
}
.popup-title {
	font-size: 40px;
	font-weight: bold;
}

.case-items {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: center;
	width: calc(100% - 300px);
}

.info-img {
	position: relative;
	background-color: rgb(65,65,65);
	transform: scale(1.5);
	background: transparent;
	width: 300px;
	height: 300px;
	margin-bottom: 100px;
}

.info-container {
	display: flex;
	flex-direction: row;
	gap: 5px;
	justify-content: center;
	width: calc(100%);
	height: 100%;
}

.info-container.item-info {
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

.info-stat {
	position: relative;
}

